nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #487bbe;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .main-logo{
    padding-top: 5px;
    height: 50px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .main-logo{
    padding-top: 5px;
    height: 40px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #487bbe;
}
.footer-copyright{
  background-color: #487bbe!important;
}
.main-logo{
  padding-top: 5px;
  height: 50px;
}
.blue-text{
  color: #487bbe;
}

.send-button{
  background-color: #487bbe;
}

.social-media{
  padding-right: 10px;
}
